<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Sign Up</p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <form action="" class="signup-form">
                            <div class="field">
                                <label class="label" for="username">Username</label>
                                <div class="control">
                                    <input type="text" class="input" id="username-signup" placeholder="e.g. bobsmith"
                                        required>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" for="email">Email</label>
                                <div class="control">
                                    <input type="email" class="input" id="email-signup"
                                        placeholder="e.g. bobsmith@gmail.com" required>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" for="password">Password</label>
                                <div class="control">
                                    <input type="password" class="input" id="password-signup" placeholder="*******"
                                        required>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button type="submit" class="button is-success signup-form">Sign Up</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/signup.js"></script>